body {
    background-color: beige;
}

.side-bar {
    background-color: bisque;
    height: 100%;
    width: 20%;
    min-width: 180px;
    max-width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.main-body {
    position: relative;
    left: 20%;
    padding-left: 20px;
}

.descricao {
    background-color: aqua;
}