body {
    background-color: beige;
}

.side-bar {
    background-color: bisque;
    height: 100%;
    width: 20%;
    min-width: 180px;
    max-width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

body main {
    position: relative;
    left: 20%;
    padding-left: 20px;
}


.my-image{
    margin: 12px;
}

body main .descricao {
    padding: 20px;
    position: relative;
    min-width: 100px;
    width: 50%;
    background-color: rgb(126, 126, 126);
    height: fit-content;
}

.side-by-side {
    display: flex;
}

